


.controlPanel{
    background-color: #292929;
    color: #fff;
    min-height: 100vh;
    align-self: flex-start;
    transition: 1s all ease-in-out;
}


.buttonPanel{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
  
}
.buttonPanel button{
    cursor: pointer;
}