

.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    background-color: #fff;
}


.controlPanel{
    width: 5%;
    background-color: #292929;
    color: #fff;
    min-height: 100vh;
    align-self: flex-start;
}

.mainContent{
    width: 95%;
    min-height: 100vh;
    
}